<div class="layout-box">

    <div class="input-box" *ngIf="!showProgress">
        <select class="input-time" [(ngModel)]="gender" (change)="checkInputs()">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <input class="input-time" type="number" [(ngModel)]="age" (input)="checkInputs()" placeholder="Age">
        <input class="input-time" type="number" [(ngModel)]="weight" (input)="checkInputs()" placeholder="Weight (kg)">
        <button class="calculate-button" [class.active]="inputsFilled" (click)="calculateWaterIntake()">Calculate</button>
      </div>
      
      <div *ngIf="showProgress">
        <p class="water-display">You should drink {{ totalWaterIntake }} ml of water daily.</p>
        <div class="progress-circle" [ngStyle]="{'background-image': circleStyle}">
          <span>{{ waterIntakePercentage.toFixed(0) }}%</span>
        </div>
        <input class="input-time" type="number" [(ngModel)]="inputWater"  (input)="checkWaterInput()"  placeholder="Water intake (ml)">
        <button class="add-button" [class.active]="waterInputFilled" (click)="updateProgress()">+ Add</button>
      </div>
      
</div>

