<div class="layout-box">
  <img src="../../assets/right-arrow.png" class="back-icon" (click)="goBack()" alt="Back" />
  <div class="input-box" *ngIf="!showProgress">
        <select class="input-time" [(ngModel)]="gender" (change)="checkInputs()">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <input class="input-time" type="number" [(ngModel)]="age" (input)="checkInputs()" placeholder="Age">
        <input class="input-time" type="number" [(ngModel)]="weight" (input)="checkInputs()" placeholder="Weight (kg)">
        <button class="calculate-button" [class.active]="inputsFilled" (click)="calculateWaterIntake()">Calculate</button>
      </div>
      
      <div *ngIf="showProgress" class="water-progress">
        <p class="water-display">You should drink {{ totalWaterIntake }} ml of water daily.</p>
        <circle-progress
          class="circle-progress"
          [titleFontSize]="'30'"
          [subtitleFontSize]="'20'"
          [subtitleColor]="'#444444'"
          [unitsFontSize]="'30'"
          [titleFontWeight]="'500'"
          [unitsFontWeight]="'500'"
          [subtitleFontWeight]="'500'"
          [percent]="waterIntakePercentage" 
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"></circle-progress>
        <input class="input-time" type="number" [(ngModel)]="inputWater" (input)="checkWaterInput()" placeholder="Water intake (ml)">
        <button class="add-button" [class.active]="waterInputFilled" (click)="updateProgress()">+ Add</button>
      </div>
</div>

