<div class="layout-box">

  <div class="wrapper">
    <div class="images">
      <div class="img-1"></div>
      <div class="img-2" #image></div>
    </div>
    <div class="slider">
      <div class="drag-line" #dragLine>
        <span></span>
      </div>
      <input type="range" min="0" max="100" value="50" (input)="adjustImage($event)" #slider>
    </div>
  </div>
  <div class="button-container">
    <button class="upload-button-before">BEFORE</button>
    <button class="upload-button-after">AFTER</button>
  </div>
</div>
