<body>
    <div class="input-container">
      <div class="total-calories">
        <label class="total"> Total: </label>
        <p class="amount-number"> kcal</p>
      </div>
      <div class="container">
        <label>How many calories did you eat today?</label>
        <input type="number"  placeholder="kcal" class="input-calories" />
        <div class="button-container">
          <button class="reset-button">Reset</button>
          <button class="add-button">Add</button>
        </div>
      </div>
    </div>
  </body>
  