<div class="menu-container">
  <button (click)="goTo('training')" class="menu-button"><img
    class="icon"
    src="assets/exercise.png"
  />Training</button>
  <button (click)="goTo('stopwatch')" class="menu-button"><img
    class="icon"
    src="assets/stopwatch.png"
  />Stopwatch</button>
  <button (click)="goTo('notebook')" class="menu-button"><img
    class="icon"
    src="assets/notebook.png"
  />Notebook</button>
  <button (click)="goTo('calculator')" class="menu-button"><img
    class="icon"
    src="assets/calories-calculator.png"
  />Calorie Calculator</button>
  <button (click)="goTo('water')" class="menu-button"><img
    class="icon"
    src="assets/water-bottle.png"
  />Water Intake</button>
  <button (click)="goTo('image-comparison')" class="menu-button"><img
    class="icon"
    src="assets/gallery.png"
  />Photo Comparison</button>
  <button (click)="goTo('settings')" class="menu-button">
    <img
      class="icon"
      src="assets/settings.png"
    /> Settings</button>
</div>
