<div class="menu-container">
  <button (click)="goTo('training')" class="menu-button">Training</button>
  <button (click)="goTo('notebook')" class="menu-button">Notebook</button>
  <button (click)="goTo('calculator')" class="menu-button">Calorie Calculator</button>
  <button (click)="goTo('water')" class="menu-button">Water Intake</button>
  <button (click)="goTo('image-comparison')" class="menu-button">Photo Comparison</button>
  <button (click)="goTo('settings')" class="menu-button">Settings</button>
</div>
