<body>
  <img src="../../assets/right-arrow.png" class="back-icon" (click)="goBack()" alt="Back" />
<div class="input-container">
  <div class="container">
    <div class="profile-pic-div">
      <img ngSrc="./assets/image.png" id="photo" alt="profile picture" height="728" width="728">
      <input type="file" id="file" (change)="onFileChange($event)">
      <label for="file" id="uploadBtn">Choose Photo</label>
    </div>
  </div>
  <span class="name">{{ userName}}</span>

  <div class="container">
    <div class="button-container">
      <p class="title-options">Light / Dark Mode</p>
      <label class="toggle-switch">
        <input type="checkbox">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>
    </div>
    <div class="button-container">
      <p class="title-options">Notifications</p>
      <label class="toggle-switch">
        <input type="checkbox">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>
    </div>
    <div class="button-container">
      <p class="title-options">Sound</p>
      <label class="toggle-switch">
        <input type="checkbox">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>
    </div>
    <div class="button-container">
      <p class="title-options">About</p>
      <label class="toggle-switch">
        <input type="checkbox">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>
    </div>
    <div class="button-container">
      <p class="title-options">Polish / English</p>
      <label class="toggle-switch">
        <img
          class="icon"
          src="assets/right-arrow.png"
        />
      </label>
    </div>
    <div class="button-container">
      <p class="title-options">Social Media</p>
      <label class="toggle-switch">
        <img
          class="icon"
          src="assets/right-arrow.png"
        />
      </label>
    </div>
  </div>
</div>
</body>
